.button {
  font-family: $primary-font;
  font-weight: 500;
  cursor: pointer;
  overflow-x: hidden;
  position: relative;
  padding: 20px 30px 16px 30px;
  margin: .5rem;

  font-size: 18px;
  line-height: 22px;

  span {
    width: 150%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-120%);
    border-radius: 0 100px 100px 0;
    transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  @media #{$lg} {
    margin: 1rem .5rem;
    &:hover {
      span {
        transform: translateX(0%);
      }
    }
  }
}
#infoBtn {
  font-family: $primary-font;
  font-weight: 500;
  transition: all 0.8s ease;
  bottom: -150px;
  a {
    padding: 20px 30px 16px 30px;
    font-size: 18px;
    line-height: 22px;
    overflow-x: hidden;
    position: relative;
    span {
      width: 150%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-120%);
      border-radius: 0 100px 100px 0;
      transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      mix-blend-mode: lighten;
    }

    @media #{$lg} {
      &:hover {
        span {
          transform: translateX(0%);
        }
      }
    }
  }

  @media #{$only-mobile} {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: -100px;
    left: 0;
    right: 0;

    a {
      span {
        display: none;
      }
    }
  }

  &.revealed {
    bottom: 2vh;
    opacity: 1;

    @media #{$only-mobile} {
      bottom: 0;
    }
  }
}
#ScrollTopBtn{
  padding: 15px;
}