#gform_wrapper_1 {
  padding-top: 35px;

  & > div:nth-child(2) > p:nth-child(1) {
    display: none;
  }

  #field_1_1 > legend {
    color: $gray-950;

    & > span > span {
      color: $gray-950;
    }
  }

  #input_1_1_3 {
    height: 30px;
    background: transparent;
    color: $gray-800;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray-700;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }

  #field_1_3 > label {
    color: $gray-950;
    & > span > span {
      color: $gray-950;
    }
  }
  #input_1_3 {
    height: 30px;
    background: transparent;
    color: $gray-700;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray-700;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }
  #input_1_4 {
    height: 30px;
    background: transparent;
    color: $gray-700;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray-700;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }

  // Titolo sezione checkbox
  #field_1_12 > legend:nth-child(1) {
    margin-bottom: 20px;
    font-family: "Anybody", sans-serif;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;

    @media #{$lg} {
      font-size: 12px;
      line-height: 13px;
    }
  }
  // Sezione checkbox
  #field_1_12{
    #input_1_12{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .gchoice{
        width: 100%;
        display: block;
        position: relative;
        flex-grow: 1;
        flex-shrink: 0;

        @media #{$lg} {
          width: calc(50% - 2.5rem);
        }

        input{
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          cursor: pointer;
          accent-color: $gray-950;
          background-color: white;
          display: block;
          border: 1px solid $gray-950;
          box-shadow: none;
          block-size: unset;
          inline-size: unset;
          min-block-size: unset;
          width: 100%;
          height: 58px;
          border-radius: 0;
          transition: all .6s cubic-bezier(.215, .61, .355, 1);

          &::before{
            display: none;
          }

          &:hover{
            background-color: $gray-300;
          }
          &:checked{
            background-color: $gray-950;

            & + label{
              color: $gray-50;
            }
          }
        }
        label{
          margin: 0;
          font-size: 18px;
          font-weight: 400;
          color: $gray-950;
          text-align: center;
          white-space: nowrap;
          position: absolute;
          pointer-events: none;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: all .6s cubic-bezier(.215, .61, .355, 1);
        }
      }
    }
  }

  // Text Area
  #input_1_6 {
    min-block-size: 90px;
    background: transparent;
    color: $gray-700;
    border-radius: 0;
    border: 1px solid $gray-700;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none !important;
    }

    @media #{$lg} {
      min-block-size: 130px;
    }
  }

  // Checkbox Privacy
  #field_1_7 > legend:nth-child(1) {
    display: none;
  }
  #input_1_7_1 {
    background: transparent;
    border-radius: 0;
    border: 1px solid $gray-300;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none !important;
    }
    &::before {
      color: $gray-950;
    }
  }

  // Animazione al hover
  #input_1_1,
  #field_1_3,
  #field_1_4 {
    position: relative;
    overflow-x: hidden;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;
      height: 2px;
      background-color: $gray-950;
      width: 100%;
      transition: left 0.8s;
    }

    @media #{$lg} {
      &:hover {
        &::after {
          left: 0%;
        }
      }
    }
  }

  // Pulsante di invio
  #gform_submit_button_1 {
    margin-block-start: 26px;
    width: 100%;
    background: $gray-950;
    color: $gray-50;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    padding: 17px 30px 13px 30px;
    border-radius: 0;
    position: relative;
    overflow-x: hidden;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

    @media #{$lg} {
      width: fit-content;
      min-width: 190px;

      &:hover {
        background-color: $gray-700;
      }
    }
  }
}

// Form Footer
#gform_wrapper_2 {
  & > div > p {
    display: none;
  }

  #field_2_1 > legend {
    color: $gray-50;

    & > span > span {
      color: $gray-50;
    }
  }
  #input_2_1_3 {
    height: 30px;
    background: transparent;
    color: $gray-200;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray-300;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }
  #field_2_3 > label {
    color: $gray-50;
    & > span > span {
      color: $gray-50;
    }
  }
  #input_2_3 {
    height: 30px;
    background: transparent;
    color: $gray-200;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray-300;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }

  // Checkbox privacy
  #input_2_4_1 {
    background: transparent;
    border-radius: 0;
    border: 1px solid $gray-300;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none !important;
    }
    &::before {
      color: $gray-50;
    }
  }
  #field_2_4 > div > label {
    color: $gray-50;
  }

  // Animazione hover
  #input_2_1,
  .ginput_container_email {
    position: relative;
    overflow-x: hidden;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;
      height: 2px;
      background-color: $gray-50;
      width: 100%;
      transition: left 0.8s;
    }

    @media #{$lg} {
      &:hover {
        &::after {
          left: 0%;
        }
      }
    }
  }

  // Pulsante di invio
  #gform_submit_button_2 {
    margin-block-start: 26px;
    width: 100%;
    background: $gray-50;
    color: $gray-950;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 0;
    position: relative;
    overflow-x: hidden;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

    @media #{$lg} {
      width: fit-content;

      &:hover {
        background-color: $gray-300;
      }
    }
  }
}
