.repeater {
  counter-reset: item;
  list-style-type: none;

  li:before {
    content: "0" counter(item);
    counter-increment: item;
    font-size: 10px;
    line-height: 12px;
    font-family: "Anybody";
    margin-right: 0.6rem;

    @media #{$lg} {
      font-size: 15px;
      line-height: 16px;
    }
  }
}
