:root {
  --swiper-theme-color: $gray-800;
  --swiper-navigation-sides-offset: 10%;
  --swiper-navigation-size: 70px;
}

.swiper {
  width: 100%;
  height: 650px;

  .swiper-wrapper {
    .swiper-slide {
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 1 !important;
  }
}

.swiper.swiperScroller {
  height: 100%;

  .swiper-wrapper{
    height: calc(100% - 38px);
  }
}
.swiper.swiperScroller2 {
  height: 100%;

  .swiper-wrapper{
    height: calc(100% - 38px);
  }
}

.swiper.swiperScrollerSingle {
  margin-left: 26px;
  height: 180px;
  width: 100%;
  .swiper-slide {
    width: 100%;
  }
}

.swiper.swiperScrollerSponsor {
  height: 100px;

  .swiper-wrapper{
    height: calc(100% - 38px);
  }
}

.swiper.swiperTestimonial {
  height: 100%;
  width: 750px;
  margin: 0 auto;

  @media #{$only-mobile} {
    width: 100%;
  }
}

.swiper.swiperGallery {
  height: 650px;
  .swiper-wrapper {
    .swiper-slide {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  @media #{$only-mobile} {
    height: 350px;

    .swiper-slide {
      height: 300px;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 50%);
  }
  .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 10px);
    right: auto;
  }
  .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
  }
}

.swiper.swiperGallery2 {
  height: 780px;
  width: 100%;
  .swiper-wrapper {
    height: 715px;
    .swiper-slide {
      width: auto !important;

      img,
      iframe {
        display: block;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media #{$only-mobile} {
    height: 350px;
    .swiper-wrapper {
      height: 320px;
    }
  }
}

.swiper.swiperRepeater {
  height: 280px;
  width: 100%;

  .swiper-wrapper{
    height: 220px;

    .swiper-slide {
      height: 100%;
      width: 33% !important;
    }
  }


  @media #{$only-mobile} {
    height: 245px;
    
    .swiper-wrapper{
      
      .swiper-slide {
        width: 100% !important;
      }
    }
  }
}

.swiper.swiperReleatedPost {
  height: 670px;
  width: 100%;
  .swiper-wrapper {
    height: calc(100% - 65px);
    .swiper-slide {
      height: 100%;
      width: calc((1280px / 3) - 40px) !important;
      transition: height .6s cubic-bezier(.215, .61, .355, 1);

      img {
        object-fit: cover;
      }
      &:hover{
        height: 110%;
      }
    }
  }
  @media #{$only-mobile} {
    height: calc(497px + 45px);
    .swiper-wrapper {
      height: 497px !important;

      .swiper-slide {
        width: 100% !important;
        height: 495px !important;
      }
    }
  }
}

.swiper.swiperHomeMele {
  width: 100%;
  height: 670px;
  .swiper-wrapper {
    height: calc(100% - 65px);
    .swiper-slide {
      height: 100%;
      width: calc((1280px / 3) - 40px) !important;
      transition: height .6s cubic-bezier(.215, .61, .355, 1);

      img {
        object-fit: cover;
      }

      &:hover{
        height: 110%;
      }
    }
  }
  @media #{$only-mobile} {
    height: 580px;
    .swiper-wrapper {
      height: calc(100% - 38px);

      .swiper-slide {
        width: 100% !important;
        height: 495px !important;
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  height: 13px;
  margin-top: 0;
  top: auto;
  bottom: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  left: 37px;
  right: auto;
}
