:root {
  --swiper-theme-color: $gray-800;
  --swiper-navigation-sides-offset: 10%;
  --swiper-navigation-size: 70px;
}

.swiper {
  width: 100%;
  height: 650px;

  .swiper-wrapper {
    .swiper-slide {
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 1 !important;
  }
}

.swiper.swiperScroller {
  height: 100%;

  .swiper-wrapper {
    height: calc(100% - 38px);
  }
}
.swiper.swiperScroller2 {
  height: 100%;

  .swiper-wrapper {
    height: calc(100% - 38px);
  }
}

.swiper.swiperScrollerSingle {
  height: 180px;
  width: 100%;
}

.swiper.swiperScrollerSponsor {
  height: 100px;

  .swiper-wrapper {
    height: calc(100% - 38px);
  }
}

.swiper.swiperTestimonial {
  height: 100%;
  width: 750px;
  margin: 0 auto;

  @media #{$only-mobile} {
    width: 100%;
  }
}

.swiper.swiperGallery {
  height: 650px;
  .swiper-wrapper {
    .swiper-slide {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 50%);
  }
  .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 10px);
    right: auto;
  }
  .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
  }

  @media #{$only-mobile} {
    height: 350px;

    .swiper-slide {
      height: 300px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      height: 13px;
      margin-top: 0;
      top: auto;
      bottom: 0;
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      left: 37px;
      right: auto;
    }
  }
}

.swiper.swiperGallery2 {
  height: 350px;
  width: 100%;
  .swiper-wrapper {
    height: 312px;
    .swiper-slide {
      width: 100% !important;
      overflow: hidden;
      img,
      iframe {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  @media #{$md} {
    height: 480px;
    .swiper-wrapper {
      height: 442px;
    }
  }

  @media #{$lg} {
    height: 780px;
    .swiper-wrapper {
      height: 717px;
      .swiper-slide {
        width: auto !important;
      }
    }
  }
}

.swiper.swiperRepeater {
  height: calc(170px + 63px);
  width: 100%;

  .swiper-wrapper {
    height: 170px;

    .swiper-slide {
      height: 100%;
    }
  }

  @media #{$only-mobile} {
    height: calc(200px + 38px);

    .swiper-wrapper {
      height: 200px;
    }
  }
}

.swiper.swiperReleatedPost {
  height: 670px;
  width: 100%;
  .swiper-wrapper {
    height: calc(100% - 65px);
    .swiper-slide {
      height: 100%;
      transition: height 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

      img {
        object-fit: cover;
      }
      &:hover {
        height: 110%;
      }
    }
  }
  @media #{$only-mobile} {
    height: calc(497px + 45px);
    .swiper-wrapper {
      height: 497px !important;
      .swiper-slide {
        height: 495px !important;
      }
    }
  }
}

.swiper.swiperHomeMele {
  width: 100%;
  height: 670px;
  .swiper-wrapper {
    height: calc(100% - 65px);
    .swiper-slide {
      height: 100%;
      transition: height 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

      img {
        object-fit: cover;
      }

      &:hover {
        height: 110%;
      }
    }
  }
  @media #{$only-mobile} {
    height: 580px;
    .swiper-wrapper {
      height: calc(100% - 38px);

      .swiper-slide {
        height: 495px !important;
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  height: 13px;
  margin-top: 0;
  top: auto;
  bottom: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  left: 37px;
  right: auto;
}
